
<div class="form container">

  <%= form_for(candidate) do |f| %>
    <div class="form-group">
    <%= f.label :name, "姓名" %>
    <%= f.text_field :name,class: "form-control" %><br />
      </div>
      <div class="form-group">
    <%= f.label :age, "年齡" %>
    <%= f.text_field :age ,class: "form-control"%><br />
      </div>
      <div class="form-group">
    <%= f.label :party, "政黨" %>
    <%= f.text_field :party ,class: "form-control"%><br />
      </div>
      <div class="form-group">
    <%= f.label :politics, "政見" %>
    <%= f.text_area :politics,class: "form-control" %><br />
      </div>
      <div class="form-group">
        <%= f.label :image, "Photo" %>
        <%= image_tag @candidate.image, width: '50px' if @candidate.image? %>
        <%= f.file_field :image,class: "form-control" %><br />
      </div>
    <%= f.submit  %>
  <% end %>
</div>
