<h1><%= @candidate.name%></h1>




  <!-- Start of comment form -->
  <%= render 'comments/comment_form'%>
  <!-- End of comment form -->

  <!-- Start of comments -->
  <div id="comments" data-blog-id="<%= @candidate.id %>">
  <%= render @candidate.comments %>
</div>
  <!-- End of comments  -->
<h3><%= link_to 'Back to index', candidates_path %><h3>
